
        .Dropdown {
            & .Dropdown_header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px 10px 15px;
                color: #FFFFFF;
                background-color: #FF6060;
                border-radius: 10px 10px 5px 5px;
                & .Dropdown_ArrowImg {
                        object-fit: contain;
                        animation-delay: 2s;
                        
                }
                & .Dropdown_ArrowImg:active{
                    transform: rotate(179deg);
                        transition: all 0.5s;
                        animation-delay: 2s;
                }
            }
            & .Dropdown_content {
                padding: 1rem;
                border: none;
                border-radius: 5px;
                background-color: #F6F6F6;
                color: #FF6060;
                
                & p{
                    animation-delay: 2s;
                    animation: apparitioncontent 1000ms forwards;
                }
                & .listequipments{
                    animation-delay: 2s;
                    animation: apparitioncontent 1000ms forwards;
                }
                
            }

        }