

.slideshowlogement{
    position: relative;
    align-items: center;
    display: flex;
	justify-content: space-between;
	width: 100%;

    & .logement-img{
        width: 100%;
        object-fit: cover;
        height: 415px;
    }
    &  .navigateslideshowback {
        padding: 10px;
        position: absolute;
    }
    
    & .navigateslideshownext {
        padding: 10px;
        position: absolute;
        right: 0;
    }
    & .indexslideshow {
        padding: 10px;
        position: absolute;
        bottom: 0;
        color: #FFFFFF;
        size: 18px;
        left: 50%;
    }
}

