footer {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: #000000;
    margin-top: 35px;
    height: 150px;

    & img {
        display: block;
        margin: auto;
    }

    & p {
        color: #ffffff;
        text-align: center;
        padding-bottom: 25px;
    }
}