header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0;

    & img {
            height: 95%;
    }

    &  nav {
        justify-content: flex-end;
        display: flex;
        width: 100%;

        & .navlink {
            color: $color-primary;
            margin-left: 40px;
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
        }

        & .navlink:hover {
            color: $color-black;
        }
    }
}








