header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0;
    width: 95%;
    margin: auto;


    & img {
            height: 95%;

            @media screen and (max-width: 1024px) {

            }
        
            @media screen and (max-width: 640px) {
                width: 25%;
            }
    }

    &  nav {
        justify-content: flex-end;
        display: flex;
        width: 100%;

        & .navlink {
            color: $color-primary;
            margin-left: 40px;
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
            @media screen and (max-width: 1024px) {

            }
        
            @media screen and (max-width: 640px) {
            font-size: 18px;
            }
        }

        & .navlink:hover {
            color: $color-black;
        }
    }
}








